# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName staffingpanel.x10.mx
AuthUserFile /home/staffing/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/staffing/public_html/_vti_pvt/service.grp
